<h1>Please enter a title and your diary entry</h1>

<form action="/diary/display" method="post">
  <input type="text" name="title" value="enter a title here" onfocus="this.value=''">
  <input type="text" name="entry" value="enter your entry here" onfocus="this.value=''">
  <input type="submit" value="Save Entry">
</form>
